# Ignorar el entorno virtual
venv/

# Ignorar archivos compilados de Python
*.pyc
__pycache__/

# Ignorar archivos de log
*.log

# Archivos específicos de sistemas operativos
.DS_Store
Thumbs.db

#IDE
.idea/

#Archivos pesados
recursos/
 
